* {
  box-sizing: border-box;
}
.moviecard {
  max-height: 20rem;
  min-height: 26rem;
  margin-top: 10px;
}
.cardTitle {
  font-style: italic;
  padding-top: 2px;
  font-variant: small-caps;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}
.LoginCard {
}
