* {
  box-sizing: border-box;
}

.footer {
  background-color: lightslategray;

  position: fixed;
  height: 1rem;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.registrationnav {
  height: 2.8rem;
  top: 0px;
  right: 0px;
  background-color: lightslategray;
  position: fixed;
  left: 0px;
}

.register-card {
  color: black;
}
.registerbtn {
  color: white !important;
  background: darkblue !important;
}
